@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    margin: 0;
    padding: 0;
    background-color: #f8f9ff;
    color: #0b1c30;
    font-family: 'Inter', system-ui, -apple-system, sans-serif;
  }
}

.tnum {
  font-variant-numeric: tabular-nums;
  font-feature-settings: "tnum" on, "cv05" on, "cv08" on;
}
